#Autosave files
*~


# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
*.exe
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
.idea/
DCasm/DCasm.userprefs
DCasm/bin/*
DCasm/obj/*
.vscode/
.vs/
.vscode/.browse.VC.db
.vscode/.browse.VC.db-wal